[submodule "backend"]
	path = backend
	url = https://github.com/HuynhQuocTien/esports-tournament-platform-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/HuynhQuocTien/esports-tournament-platform-frontend.git
