services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - ${POSTGRES_PORT}:5432
    volumes:
      - db_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - ${PGADMIN_PORT}:80
    depends_on:
      - db

  minio:
    image: minio/minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - ${MINIO_PORT}:9000
      - ${MINIO_CONSOLE_PORT}:9001
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    restart: always

  # backend:
  #   build:
  #     context: ./backend
  #     dockerfile: Dockerfile
  #   restart: always
  #   env_file:
  #     - .env
  #   environment:
  #     DB_HOST: ${DB_HOST}
  #     POSTGRES_HOST: ${POSTGRES_HOST}
  #     DB_PORT: 5432
  #     POSTGRES_PORT: 5432
  #     DB_USERNAME: ${DB_USERNAME}
  #     POSTGRES_USER: ${POSTGRES_USER}
  #     DB_PASSWORD: ${DB_PASSWORD}
  #     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  #     DB_NAME: ${DB_NAME}
  #     POSTGRES_DB: ${POSTGRES_DB}

  #     MINIO_ENDPOINT: minio
  #     MINIO_PORT: 9000
  #     MINIO_ROOT_USER: ${MINIO_ROOT_USER}
  #     MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
  #     MINIO_USE_SSL: "false"

  #   ports:
  #     - "${BACKEND_PORT}:3000"
  #   depends_on:
  #     - db
  #     - minio
  #   volumes:
  #     - ./.env:/usr/src/app/.env

  # frontend:
  #   build:
  #     context: ./frontend
  #     dockerfile: Dockerfile
  #   restart: always
  #   env_file:
  #     - .env
  #   ports:
  #     - "${FRONTEND_PORT}:80"
  #   depends_on:
  #     - backend
  #   volumes:
  #     - ./.env:/usr/src/app/.env

volumes:
  db_data:
  minio_data:
  pgadmin_data:
